html {
    font-size: 62.5%;
}

body {
    background-image: url(../img/pexels-gabriela-palai-395196\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.keyboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.key {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: dodgerblue;
    cursor: pointer;
    font-size: 3.5rem;
    margin-left: 2rem;
    margin-top: 20rem;
    padding: 2rem 3rem;
}

.name {
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
    color: white;
}

.active {
    border: 5px solid #fff;
}

