html {
    font-size: 62.5%;
}

body {
    background-color: lightgoldenrodyellow;
    text-align: center;
}

h1 {
    color: coral;
    font-size: 4rem;
}

p {
    font-size: 2rem;
    color: darkgreen;
}