html {
    font-size: 62.5%;
}

body {
    background-image: url(../img/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-size: 2rem;
    font-family: 'Coustard', serif;
}

.header {
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    color: gold;
}

.main {
    color: gold;
    font-size: 3rem;
}

.button {
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    outline: 0;
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
    filter: drop-shadow(0 0 15px #000) drop-shadow(0 0 50px #000) contrast(2) brightness(2); 
}

.btn-info {
    background-color: #a52a2a;
    color: #fff;
    -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.btn-info:hover {
    color: #ffd700;
    animation: pulse 1s infinite;
    transition: .3s;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}

.character {
    border: 2px solid gold;
    color: white;
}

.character:hover {
    background-color: #1c180f;
    transform: scale(1.2);
}

.character-img {
    width: 200px;
    height: 200px;
    margin: 1rem 0;
}

#character-birthday {
    color: #a52a2a;
    font-size: 1.6rem;
}

#character-gender {
    margin-bottom: 1rem;
}

.character span {
    display: inline-block;
    width: 100%;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }